<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
    <![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9">
    <![endif]-->
<!--[if gt IE 8]>
    <html class="no-js">
    <![endif]-->

<head>
    <meta charset="utf-8">
    <title>Rooney Chase | Stylish and affordable hair specialists in London</title>
    <meta
            name="description" content="cosy saloon, hair consultation, Wash, cut & style service list, Condition treatment,Hair colouring,Weave,Weave care, Relax Perm Keratin, Braids and twist, south london, Bridal ">
    <meta name="viewport" content="width=device-width">
    <!--[if IE]>
                            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                        <![endif]-->
</head>

<body class="home">

</body>

<template name="layout">

        {{>messages}}
        <div class="content-wrapper">
            {{>header}}
            <div class="ui segment page">
                {{> yield}}
            </div>
            {{>footer}}
        </div>
        {{>bottomscripts}}
</template>
<template name="messages">
    {{#if message "successMessage" }}
        <div class="ui positive message fixed">
            <div class="header">
                Thumbs up
            </div>
            <ul class="list">
                <li>{{message "successMessage"}}</li>
            </ul>
        </div>
    {{/if}}
    {{#if message "infoMessage"}}

        <div class="ui positive message fixed">
            <div class="header">
                Information
            </div>
            <ul class="list">
                <li>{{message "infoMessage"}}</li>
            </ul>
        </div>
    {{/if}}
    {{#if message "alertMessage"}}
        <div class="ui positive message fixed">

            <div class="header">
                Alert
            </div>
            <ul class="list">
                <li>{{message "alertMessage"}}</li>
            </ul>
        </div>
    {{/if}}
    {{#if message "errorMessage"}}
        <div class="ui error message fixed float">

            <div class="header">
                There was some errors with your submission
            </div>
            <ul class="list">
                <li>{{message "errorMessage"}}</li>
            </ul>
        </div>
    {{/if}}
</template>
<template name="footer">
    <footer><span>© Rooney Chase {{year}}</span>
        <div class="footer-links clearfix">
            <div class="footer-link-item icon icon-social">
                <a href="https://twitter.com/rooneychase"><img
                        src="{{contentURL}}/images/icon-twitter.png" alt="twitter icon"></a>
            </div>
            <div class="footer-link-item icon icon-social"><a
                    href="https://www.facebook.com/rooneychase"><img
                    src="{{contentURL}}/images/icon-facebook.png" alt="facebook icon"></a>
            </div>
            <div class="footer-link-item icon">
                <img src="{{contentURL}}/images/icon-phone.png" alt="phone icon">
            </div>
            <div class="footer-link-item"><span class="footer-number">07958 640 393</span>
            </div>
        </div>
    </footer>
</template>

<template name="bottomscripts">
    <script src="{{contentURL}}/javascripts/main.js"></script>
</template>

<template name="header">
    <header>

        <div class="logo"><a href="http://rooneychase.com/index.html"><img src="{{contentURL}}/images/logo.png" alt="Rooney Chase logo"></a>
            <h1>Rooney Chase</h1>
        </div>
        <div class="nav-button">
            <img src="{{contentURL}}/images/mobile-nav-button.png">
        </div>
        <nav class="clearfix">
            <ul class="main-nav">
                <li><a href="http://rooneychase.com/index.html">Home</a>
                </li>
                <li><a href="http://rooneychase.com/gallery.html">Gallery</a>
                </li>
                <li><a href="http://rooneychase.com/contact-us.html">Contact us</a>
                </li>
                <li>
                    {{#if currentUser}}
                        <a  href="/sign-out">
                           <i class="user icon"></i>
                            Logout <br/>
                            {{currentUser.profile.name}}{{currentUser.emails.[0].address}}
                        </a>
                    {{else}}
                        <a href="/sign-in">
                          <i class="user outline icon"></i>
                          Login
                        </a>
                    {{/if}}
                </li>
            </ul>
        </nav>

    </header>
</template>
<template name="emptysidebars">

</template>
