
@import "https://d83gm0anh9n33.cloudfront.net/stylesheets/main.css";

#calendarPanel {
    width: 250px;
}

#slotsPanel {
    width: 500px;
}
#slotsStepPanel {
    width: 300px;
}
.smlcol{
	width:15%;
}
.mdcol{
	width:25%;
}
.lgcol{
	width:60%;
}


@media only screen and (max-width: 480px) {

#slotsPanel {
    width: 300px;

}

}
