
<template name="notFound">
    Can't seem to find what you are looking for
</template>
<template name="loading">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Just one second
            </div>
            <p>Loading .....</p>
        </div>
    </div>
</template>
<template name="bookinglayout">
    {{>messages}}
    {{>contactDetailsSidebar}}
    {{>serviceDetailsSidebar}}
    {{>calendarSidebar}}
    {{>slotsSidebar}}
    {{>reserveDetailsSidebar}}
    {{>addSlotsSidebar}}
    {{>paymentSidebar}}
    {{>addServiceSidebar}}
    <div class="pusher">
        <div class="content-wrapper">
            {{>header}}

            <div id="mainContent" class="ui segment">
                {{> yield}}
            </div>
            {{>footer}}
        </div>
    </div>
</template>

<template name="book">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a href="http://www.rooneychase.com/index.html" class="section">Home</a>
            {{#if isInRole 'admin'}}
                <i class="right chevron icon divider"></i>
                <a href="/" class="section">Slots</a>
            {{/if}}
            <i class="right chevron icon divider"></i>
            <div class="active section">Booking</div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <h1>Appointment Summary</h1>
    <div class="ui celled selection list">
        <div class="item contactDetailshandle">
            <div class="title">
                <h2 class="ui header">
                    Your Details
                    <div class="sub header">Click here to edit/change</div>
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.contactNumber}}info{{else}}warning{{/if}}">
                    <ul class="list">
                        <li>Your contact number: <a class="contactDetailshandle" href="#">{{#if model.contactNumber}}{{model.contactNumber}} {{else}} Please specify a contact Number{{/if}}</a></li>
                        {{#if model.contactName}}<li>Your contact name: <a class="contactDetailshandle" href="#">{{model.contactName}}</a></li>{{/if}}
                        {{#if model.emailAddress}}<li>Your email address: <a class="contactDetailshandle" href="#">{{model.emailAddress}}</a></li>{{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="item serviceDetailsHandle">
            <div class="title">
                <h2 class="ui header">
                    Chosen Services
                    <div class="sub header">Click here to change/select a service</div>
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.serviceDetails}}info{{else}}warning{{/if}}">

                    {{#if model.serviceDetails}}
                        Your appointment is for:
                        <table class="ui celled striped table">
                            <thead>
                            <tr><th>Group-Service</th>
                                <th>Duration(mins)</th>
                                <th class="right aligned">Price(£)</th>
                            </tr></thead>
                            <tbody>
                            {{#each model.serviceDetails}}
                            <tr>
                                <td>{{groupDescription}}-{{description}}</td>
                                <td>{{durationInMinutes}}</td>
                                <td class="right aligned">{{priceFrom}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                            <tfoot>
                            <tr><th></th>
                                <th>{{totalDuration}} mins</th>
                                <th class="right aligned">£{{totalPrice}}</th>
                            </tr></tfoot>
                        </table>
                    {{else}}
                        <ul class="list">
                            <li>
                                Your appointment is for: <a class="serviceDetailsHandle" href="#">Please choose at least one service</a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="item slotsHandle">
            <div class="title">
                <h2 class="ui header">
                    Slot Booking
                    <div class="sub header">Choose date and time</div>
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.slotStart}}info{{else}}warning{{/if}}">
                    {{#if model.slotStart}}
                        <ul class="list">
                            <li>
                                When: <a class="slotsHandle" href="#">{{model.slotDate}} at {{model.slotStart}} to {{model.slotEnd}}</a>
                            </li>
                        </ul>
                    {{else}}
                        <ul class="list">
                            <li>
                                When: <a class="slotsHandle" href="#">Please choose a date and time</a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div class="massive ui positive button confirmBookingSlotWidget">
        Confirm Booking
    </div>
</template>

<template name="serviceDetailsSidebar">
    <div class="ui sidebar wide serviceDetailsSidebar menu">
        <form class="ui event form serviceDetailsForm">
            <a class="active title submit">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Services we Offer</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div class="active content">
                <div class="ui form segment">
                    <div class="sub header">Click on arrow to expand, you can select only service from each group. Click close when you are done.</div>
                    <input  type="hidden" class="serviceDetails" name="serviceDetails" value="{{model.serviceDetails}}">
                    <div class="ui menu fluid vertical serviceTypes accordion serviceTypes">
                        {{#each serviceGroups}}
                        <div class="item">
                            <a class="title">
                                <div class="ui label {{serviceGroupSelected}} fluid">{{title}} <i class="dropdown icon"></i></div>
                            </a>
                            <div class="content">
                                <div class="ui vertical fluid buttons">
                                    {{#each serviceTypes}}
                                        <div class="ui serviceType button {{serviceDetailSelected}}" name="{{name}}">
                                            {{description}}
                                        </div>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="ui error message">Fix the errors:</div>
                    <div class="ui hidden divider"></div>
                    <div class="teal ui button submit">Close</div>
                </div>
            </div>
        </form>
    </div>
</template>
