.login {
  position: absolute;
  top: -38px;
  right: 0;
}

.calendarSidebar {
  width: 50px;
}

.serviceType{
  background-color: #F0F0F0;
  padding: 5px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  text-align:center;
}
.serviceType:hover {
  text-decoration: underline;
  background-color: #8C0000;
  color: #ffffff;
  cursor: pointer;
}
.selected-service{
  background-color: #8C0000;
  color: #ffffff;
}
.selected-service:hover {
  background-color: #6A0000;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.dateselector{
  background-color: #F0F0F0;
   text-align:center;
}
.timeslot{
  background-color: #FFFFFF;
  padding: 5px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  text-align:center;
}
.timeslot:hover {
  text-decoration: underline;
  background-color: #8C0000;
  color: #ffffff;
  cursor: pointer;
}
.selected-timeslot{
  background-color: #8C0000;
  color: #ffffff;
}
.selected-timeslot:hover {
  background-color: #6A0000;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.slot-prev, .slot-next {
  width: 49%;
  height: 50px;
  cursor: pointer;
  margin-top: 25%;
  /* Trick IE into showing hover */
  display: block;
}
.nav > li > a {
    padding: 3px 6px;
}
.slot-next {
  float:right;
  background: url(http://rooneychase.com/images/next.png) no-repeat;
}
.slot-prev{
  float: left;
  background: url(http://rooneychase.com/images/prev.png) no-repeat;
}
.eventWidget:hover {
   cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .hero--message {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }

  .hero {
    overflow: hidden;
    height: auto;
  }

  h1,
  h2 {
  margin: 0 0 40px;
  color: #0059b2;
  font-weight: normal;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

h3 {
  margin: 0 0 20px;
  color: #0059b2;
  font-weight: normal;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}


}
@media only screen and (max-width: 450px) {
  .numbered-list {
    padding-left: 70px;
  }
}
@media only screen and (max-width: 440px) {
  .numbered-list {
    padding-left: 70px;
  }


}
