<template name="calendarSidebar">
    <div class="ui sidebar wide calendarSidebar menu">
        <form class="ui event form calendarForm">
        <a class="active title fixed dateHandle">
            <h2 class="ui dividing header">
                <i class="icon circle arrow left"></i>
                Choose a Date
            </h2>

        </a>


            <div class="ui error message">Fix the errors:</div>
            <div class="ui form">
             {{> datePicker navigationDateData}}
            </div>
            <div class="ui hidden divider"></div>
            <div class="teal ui button dateHandle">Close</div>
        </form>
    </div>
</template>
