<template name="reserveDetailsSidebar">
    <div class="ui sidebar wide reserveDetailsSidebar menu">
        <form class="ui event form reserveDetailsForm">

            <a class="active title reservationHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Reserve slots
                </h2>
            </a>

            <div class="active content">
                <div class="ui form segment">
                    {{#if message "dialogErrorMessage"}}
                        <div class="ui negative message">
                            <ul class="list">
                                <li>{{message "dialogErrorMessage"}}</li>
                            </ul>
                        </div>
                    {{/if}}
                    <div class="required field">
                        <label for="description">What is it for?</label>
                        <div class="ui corner labeled left icon input">
                            <i class="info icon"></i>
                            <input placeholder="Brief description" type="text" class="description" name="description" >
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label for="durationInMinutes">How long do you need?</label>
                        <div class="ui labeled left icon input">
                            <select name="durationInMinutes" class="durationInMinutes ui fluid dropdown">
                                <option value="">--</option>
                                <option value="30">30</option>
                                <option value="60">1hr</option>
                                <option value="90">1.5hrs</option>
                                <option value="120">2hrs</option>
                                <option value="150">2.5hrs</option>
                                <option value="180">3hrs</option>
                                <option value="210">3.5hrs</option>
                                <option value="240">4hrs</option>
                                <option value="270">4.5hrs</option>
                                <option value="300">5hrs</option>
                                <option value="330">5.5hrs</option>
                                <option value="360">6hrs</option>
                            </select>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label  for="location">Where do you need to be?</label>
                        <div class="ui labeled left icon input">
                            <i class="location arrow icon"></i>
                            <input placeholder="location" type="text" class="location" name="location" value="">
                        </div>
                    </div>
                    {{#with groupedSlotsForDate}}
                        <table class="ui table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Info</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each slots}}
                                {{#if showSlot}}
                                    <tr class="{{selectedSlot .}}">
                                        <td>{{date}}</td>
                                        <td>{{start.hour}}{{#if start.minute}}:{{start.minute}}{{else}}:00{{/if}}</td>
                                        <td>{{end.hour}}{{#if end.minute}}:{{end.minute}}{{else}}:00{{/if}}</td>
                                        <td>{{state}}</td>
                                        <td><div class="ui menu"><a class="item eventWidget selectSlotWidget" name="{{index}}"><i class="thumbs-up icon"></i>Select</a></div></td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                            </tbody>
                        </table>
                    {{/with}}
                    {{#if message "dialogErrorMessage"}}
                        <div class="ui negative message">
                            <ul class="list">
                                <li>{{message "dialogErrorMessage"}}</li>
                            </ul>
                        </div>
                    {{/if}}
                    <input  type="hidden" class="selectedSlot" name="selectedSlot" value="{{model.selectedSlot}}">
                    <div class="ui button reservationHandle">Cancel</div>
                    <div class="teal ui button submit">Create Reservation</div>

                </div>
            </div>
        </form>
    </div>
</template>
