
<template name="slotsSidebar">
    <div class="ui sidebar wide slotsSidebar menu">
        <form class="ui event form slotsForm">
            <a class="active title slotsHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Slots</h2>
            </a>


            <div class="sub header">Use options below to narrow or get more date and times. Select at least one slot.
                Always choose required services first as slots availability depends on chosen service. Click close when you are done.</div>

            <div class="ui error message">Fix the errors:</div>
            <div class="ui basic buttons">
                <div  class="ui button nextday {{activeClass '.nextday'}}">
                    2d
                </div>
                <div  class="ui button nextWeek {{activeClass '.nextWeek'}}">
                    1w
                </div>
                <div  class="ui button in2Week {{activeClass '.in2Week'}}">
                    2w
                </div>
                <div  class="ui button in1Month {{activeClass '.in1Month'}}">
                    4w
                </div>
                <div class="ui button in2Months {{activeClass '.in2Months'}}">
                    4w+
                </div>
            </div>
			{{#with groupedSlotsForDate}}
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Info</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
					{{#each slots}}
						{{#if showSlot}}
                            <tr class="{{selectedSlot .}}">
                                <td>{{date}}</td>
                                <td>{{start.hour}}{{#if start.minute}}:{{start.minute}}{{else}}:00{{/if}}</td>
                                <td>{{end.hour}}{{#if end.minute}}:{{end.minute}}{{else}}:00{{/if}}</td>
                                <td>{{state}}</td>
                                <td><div class="ui menu"><a class="item eventWidget selectSlotWidget" name="{{index}}"><i class="thumbs-up icon"></i>Select</a></div></td>
                            </tr>
						{{/if}}
					{{/each}}
                    </tbody>
                </table>
			{{/with}}
            <div class="ui error message">Fix the errors:</div>
            <input  type="hidden" class="selectedSlot" name="selectedSlot" value="{{model.selectedSlot}}">
            <div class="teal ui button submit">Close</div>
        </form>
    </div>
</template>
