<template name="email">
 <html>
 <head>
                    <meta charset="utf-8">
                    <title>Rooney Chase | Stylish and affordable hair specialists in London</title>
                    <meta
                    name="description" content="">
                        <meta name="viewport" content="width=device-width">
                        <link rel="stylesheet" href="http://rooneychase.com/stylesheets/main.css">
                        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'
                        rel='stylesheet' type='text/css'>
                        <script src="http://rooneychase.com//javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
                        <!--[if IE]>
                            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                        <![endif]-->
                </head>
<body>

                    <div class="content-wrapper">
                        <header>
                            <div class="logo"><a href="http://rooneychase.com/index.html"><img src="http://rooneychase.com/images/logo.png" alt="Rooney Chase logo"></a>
                                <h1>Rooney Chase</h1>
                            </div>
                        </header>
                        <div class="grid grid--full">
                            <div class="grid">
                                <div class="panel panel-success">
                                      <div class="panel-heading">
                                        <h2 class="panel-title "><span class="glyphicon glyphicon-ok">&nbsp;</span>Thanks {{contactName}}, your appointment has been booked.</h2>
                                      </div>
                                      <div class="panel-body">
                                         <h3>Appointment Summary</h3>
                                         <h4>Your appointment: {{serviceType.description}} - {{serviceDetail.description}}</h4>
                                         <h4>When: {{slotDate}} at {{slotStart}}</h4>
                                         <h4>Price is from: £{{serviceDetail.priceFrom}}</h4>
                                         <h4>At: {{address}}</h4>
                                        <!--p>If you need to change or cancel your appointment online, simply login using {{emailAddress}} to change or cancel the appointment</p-->
                                      </div>
                                </div>
                                <footer><span>© Rooney Chase 2020</span>
                                    <div class="footer-links clearfix">
                                        <div class="footer-link-item icon icon-social"><a href="https://twitter.com/rooneychase"><img src="http://rooneychase.com/images/icon-twitter.png" alt="twitter icon"></a>
                                        </div>
                                        <div class="footer-link-item icon icon-social"><a href="https://www.facebook.com/rooneychase"><img src="http://rooneychase.com/images/icon-facebook.png" alt="facebook icon"></a>
                                        </div>
                                        <div class="footer-link-item icon">
                                            <img src="http://rooneychase.com/images/icon-phone.png" alt="phone icon">
                                        </div>
                                        <div class="footer-link-item"><span class="footer-number">07958 640 393</span>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                            <!-- End of main grid -->
                        </div>
                    </div>
</body>
</html>
</template>
