<template name="appointmentDetails">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a href="http://www.rooneychase.com/index.html" class="section">Home</a>
            <i class="right chevron icon divider"></i>
            {{#if isInRole 'admin'}}
                <a href="/" class="section">Slots</a>
            {{else}}
                <a href="/" class="section">Booking</a>
            {{/if}}
            <i class="right chevron icon divider"></i>
            <div class="active section">Appointment Details</div>
        </div>
    </div>
    <div class="ui celled selection list">
        <div class="item contactDetailshandle">
            <div class="title">
                <h2 class="ui header">
                    Customer Details
                    <!--div class="sub header">Click here to edit/change</div-->
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.contactNumber}}info{{else}}warning{{/if}}">
                    <ul class="list">
                        <li>Customer contact number: <a class="contactDetailshandle" href="#">{{#if model.contactNumber}}{{model.contactNumber}} {{else}} Please specify a contact Number{{/if}}</a></li>
                        {{#if model.contactName}}<li>Customer contact name: <a class="contactDetailshandle" href="#">{{model.contactName}}</a></li>{{/if}}
                        {{#if model.emailAddress}}<li>Customer email address: <a class="contactDetailshandle" href="#">{{model.emailAddress}}</a></li>{{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="item serviceDetailsHandle">
            <div class="title">
                <h2 class="ui header">
                    Chosen Services
                    <!--div class="sub header">Click here to change/select a service</div-->
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.serviceDetails}}info{{else}}warning{{/if}}">

                    {{#if model.serviceDetails}}
                        Customer appointment is for:
                        <table class="ui five column table">
                            <thead>
                            <tr><th>Group</th>
                                <th>Service</th>
                                <th>Duration(mins)</th>
                                <th>Price(£)</th>
                            </tr></thead>
                            <tbody>
                            {{#each model.serviceDetails}}
                                <tr>
                                    <td>{{groupDescription}}</td>
                                    <td>{{description}}</td>
                                    <td>{{durationInMinutes}}</td>
                                    <td>{{priceFrom}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                            <tfoot>
                            <tr><th></th>
                                <th></th>
                                <th>{{totalDuration}} mins</th>
                                <th>£{{totalPrice}}</th>
                            </tr></tfoot>
                        </table>
                    {{else}}
                        <ul class="list">
                            <li>
                                Customer appointment is for: <a class="serviceDetailsHandle" href="#">Please choose at least one service</a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="item slotsHandle">
            <div class="title">
                <h2 class="ui header">
                    Slot Booking
                    <!--div class="sub header">Choose date and time</div-->
                </h2>
                <div class="ui clearing divider"></div>
            </div>
            <div class="content">
                <div class="ui message {{#if model.slotStart}}info{{else}}warning{{/if}}">
                    {{#if model.slotStart}}
                        <ul class="list">
                            <li>
                                When: <a class="slotsHandle" href="#">{{model.slotDate}} at {{model.slotStart}} to {{model.slotEnd}} </a>
                            </li>
                        </ul>
                    {{else}}
                        <ul class="list">
                            <li>
                                When: <a class="slotsHandle" href="#">Please choose a date and time</a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

</template>
