
<template name="slots">
    <div class="ui">
		<div class="item">
			<div class="ui breadcrumb">
				<a href="/services" class="section">Services</a>
				<i class="right chevron icon divider"></i>
				<div class="active section">Slots</div>
			</div>
		</div>
        <div class="ui small menu right">
            <a class="item extendTopHandle">
                <i class="angle double up icon"></i>+top
            </a>
            <a class="item extendBottomHandle">
                <i class="angle double down icon"></i>+end
            </a>
            <a class="item">
                <i class="filter icon"></i>
                <div class="floating ui circular teal label">{{slotsForDate.slots.length}}</div>
            </a>
            <a class="item eventWidget reservationHandle">
                <i class="bookmark icon"></i>Reserve
                <div class="floating ui circular teal label">{{totalNumberReserved}}</div>
            </a>
            <a class="item eventWidget bookHandle" href="/book">
                <i class="book icon"></i>Book
                <div class="floating ui circular teal label">{{totalNumberBooked}}</div>
            </a>
            <a class="item eventWidget addSlotsHandle">
                <i class="add circle icon"></i>Add Slots
            </a>
            <a class="item dateHandle">
                <i class="calendar icon"></i>{{requiredDate}}
                <div class="floating left ui circular {{#if slotsForDate.open}}teal{{else}}red{{/if}} label">{{#if slotsForDate.open}}OPEN&nbsp;{{else}}CLOSED&nbsp;{{/if}}</div>
            </a>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <h1>Slots</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Info</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id='container'>
		{{#if isInRole 'admin'}}
			{{#each slotsForDate.slots}}
                <tr>
                    <td>{{start.hour}}{{#if start.minute}}:{{start.minute}}{{else}}:00{{/if}}</td>
                    <td>{{end.hour}}{{#if end.minute}}:{{end.minute}}{{else}}:00{{/if}}</td>
                    <td>{{state}}{{#if contactName}} | {{contactName}}{{/if}}{{#if contactNumber}} | {{contactNumber}}{{/if}} {{#if description }}<hr/>{{description}}{{/if}}</td>
                    {{#if slotIsBooked .}}
                        <td>
                            <div class="ui menu">
                                <a class="item eventWidget" href="{{pathFor 'appointment' appointmentId=appointment}}" name="{{index}}"><i class="browser icon"></i></a>
                                <a class="item eventWidget clearSlotWidget" name="{{index}}"><i class="undo bookmark icon"></i></a>
                                {{#if hasPayment appointment}}
                                <a class="item eventWidget paymentDetailsWidget" name="{{index}}"><i class="handshake icon"></i></a>
                                {{else}}
                                <a class="item eventWidget addPaymentHandle" name="{{index}}"><i class="money bill alternate icon"></i></a>
                                {{/if}}
                            </div>
                        </td>
                    {{else}}
                    <td>
                    {{#if slotIsReserved .}}
                        <div class="ui menu">
                            <a class="item eventWidget clearSlotWidget" name="{{index}}"><i class="undo bookmark icon"></i></a>
                        </div>
                     {{else}}
                        <div class="ui menu">
                            <a class="item eventWidget toggleBlockingSlotWidget" name="{{index}}"><i class="asterisk icon"></i></a>
                            <a class="item eventWidget clearSlotWidget" data-tooltip="{{#if previous}}Undo appointment with {{previous.contactName}}{{/if}}" name="{{index}}"><i class="undo icon"></i></a>
                        </div>
                    {{/if}}
                    </td>
                    {{/if}}
                </tr>
			{{/each}}
		{{else}}
			{{#each slotsForDate.slots}}
                <tr> 
                    <td>{{start.hour}}{{#if start.minute}}:{{start.minute}}{{else}}:00{{/if}}</td>
                    <td>{{end.hour}}{{#if end.minute}}:{{end.minute}}{{else}}:00{{/if}}</td>
                    <td>{{state}}</td>
                    <td><div class="ui menu"><a class="item eventWidget toggleBookingSlotWidget" name="{{index}}"><i class="book icon"></i></a></div></td>
                </tr>
			{{/each}}
		{{/if}}
        </tbody>
        <tfoot>
			<tr>
				<th colspan="4">Total number of Slots - {{slotsForDate.slots.length}}</th>
			</tr>
		</tfoot>
    </table>
</template>
<template name="slotsMenu">
    <div class="ui menu">
        <a class="item eventWidget" href="{{pathFor 'appointment' appointmentId=appointment}}" name="{{index}}"><i class="browser icon"></i></a>
        <a class="item eventWidget clearSlotWidget" name="{{index}}"><i class="undo bookmark icon"></i></a>
        {{#if hasPayment appointment}}
        <a class="item eventWidget paymentDetailsWidget" name="{{index}}"><i class="handshake icon"></i></a>
        {{else}}
        <a class="item eventWidget addPaymentHandle" name="{{index}}"><i class="money bill alternate icon"></i></a>
        {{/if}}
    </div>
</template>
<template name="addSlotsSidebar">
    <div class="ui sidebar wide addSlotsSidebar menu">
        <form class="ui event form addSlotsForm">

            <a id="root-picker-outlet" class="active title addSlotsHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Add new slots based on opening hours</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div  class="active content">
                <div class="ui form segment">
                    <div class="required field" style="position: relative">
                        <label for="fromDate">From date</label>
                        <div class="ui corner labeled left icon input">
                            <i class="calendar icon"></i>
                            <input id="fromDatepicker" placeholder="from date" type="date" class="datepicker fromDate form-control" name="fromDate" value="">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="toDate">To date</label>
                        <div class="ui corner labeled left icon input">
                            <i class="calendar icon"></i>
                            <input id="toDatepicker" placeholder="to date" type="date" class="datepicker toDate form-control" name="toDate" value="">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <label>Slots will be created based on the following opening hours</label>
                    <div class="ui relaxed divided list">
						{{#each serviceConfig}}
							<div class="item">
								<div class="content">
									<div class="header">{{dayText}}</div>
                                    {{#if open}}
                                        OPEN | {{opad from.hour}}:{{opad from.minute}} - {{opad to.hour}}:{{opad to.minute}}
                                    {{else}}
                                        CLOSED
                                    {{/if}}

								</div>
							</div>
                        {{/each}}
                    </div>
                    <div class="teal ui button submit">Add Slots</div>
                    <div class="red ui button addSlotsHandle">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</template>
<template name="paymentSidebar">
    <div class="ui sidebar wide paymentSidebar menu">
        <form class="ui event form addPaymentForm">

            <a id="root-picker-outlet" class="active title addPaymentHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Payment</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div  class="active content">
                <div class="ui form segment">
                    <div class="required field" style="position: relative">
                        <label for="fromDate">From Price</label>
                        <div class="ui corner labeled left icon input">
                            <i class="money icon"></i>
                            <input id="fromPrice" placeholder="from price"  class="fromPrice form-control" name="fromPrice" value="{{totalPrice}}" readonly>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="actualPrice">Actual Price</label>
                        <div class="ui corner labeled left icon input">
                            <i class="money icon"></i>
                            <input id="actualPrice" placeholder="actual price" class="toDate form-control" name="actualPrice" value="{{totalPrice}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="actualPrice">Payment Type</label>
                        <select class="ui search dropdown">
                            {{#each paymentTypes}}
                              {{#if open}}
                                <option value="{{name}}">{{description}}</option>
                              {{else}}
                                <option value="{{name}}">{{description}}</option>
                              {{/if}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="teal ui button submit">Take Payment</div>
                    <div class="red ui button addPaymentHandle">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</template>