<template name="servicesLayout">
    {{>messages}}
    {{>addServiceSidebar}}
    {{>addServiceGroupSidebar}}
    {{>addServiceConfigSidebar}}
    <div class="pusher">
        <div class="content-wrapper">
            {{>header}}

            <div id="mainContent" class="ui segment">
                <div class="ui">
                    <div class="item">
                      <div class="ui breadcrumb">
                        <a href="/slot" class="section">Slots</a>
                        <i class="right chevron icon divider"></i>
                        <div class="active section">Services</div>
                      </div>
                    </div>
                    <div class="ui small menu right">
                      <a class="item extendTopHandle" href="/services">
                          <i class="list icon"></i>All
                      </a>
                      <a class="item addServiceHandle addServiceWidget">
                          <i class="plus icon"></i>New Service
                      </a>
                      <a class="item" href="/services/groups">
                          <i class="tags icon"></i>Groups
                      </a>
                      <a class="item addServiceGroupHandle addServiceGroupWidget">
                          <i class="plus icon"></i>New Group
                      </a>
                      <a class="item" href="/services/config">
                          <i class="building icon"></i>Opening hours
                      </a>

                    </div>
                </div>
                <div class="ui hidden divider"></div>
                {{> yield}}
                {{> confirmationBox}}
            </div>
            {{>footer}}
        </div>
    </div>
</template>
<template name="services">
    <h1>Services</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration(Min)</th>
            <th>Price (£)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
		{{#if isInRole 'admin'}}
			{{#each services}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{durationInMinutes}}</td>
                    <td>{{priceFrom}}</td>
                    <td>
                      <div class="ui menu">
                          <a class="item eventWidget editWidget addServiceHandle" name="{{_id}}"><i class="edit icon"></i></a>
                          <a class="item eventWidget deleteWidget" name="{{_id}}"><i class="delete icon"></i></a>
                      </div>
                    </td>
                </tr>
			{{/each}}
		{{/if}}
        </tbody>
        <tfoot>
			<tr>
				<th colspan="5">Total number of Services - {{services.count}}</th>
			</tr>
		</tfoot>
    </table>
</template>
<template name="serviceGroups">
    <h1>Service Groups</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Description</th>
            <th>Multi</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
		{{#if isInRole 'admin'}}
			{{#each services}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{#if allowMultiple}}Yes{{else}}No{{/if}}</td>
                    <td>
                      <div class="ui menu">
                          <a class="item eventWidget editWidget addServiceGroupHandle" name="{{_id}}"><i class="edit icon"></i></a>
                          <a class="item eventWidget deleteWidget" name="{{_id}}"><i class="delete icon"></i></a>
                      </div>
                    </td>
                </tr>
			{{/each}}
		{{/if}}
        </tbody>
        <tfoot>
			<tr>
				<th colspan="5">Total number of Service Groups - {{services.count}}</th>
			</tr>
		</tfoot>
    </table>
</template>
<template name="serviceConfigs">
    <h1>Opening Hours</h1>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Open</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
		{{#if isInRole 'admin'}}
			{{#each services}}
                <tr>
                    <td>{{dayText}}</td>
                    <td>{{opad from.hour}}:{{opad from.minute}}</td>
                    <td>{{opad to.hour}}:{{opad to.minute}}</td>
                    <td>{{#if open}}OPEN{{else}}CLOSED{{/if}}</td>
                    <td>
                      <div class="ui menu">
                          <a class="item eventWidget editWidget addServiceConfigHandle" name="{{_id}}"><i class="edit icon"></i></a>
                      </div>
                    </td>
                </tr>
			{{/each}}
		{{/if}}
        </tbody>
        <tfoot>
			<tr>
				<th colspan="5">Total number of Service Config - {{services.count}}</th>
			</tr>
		</tfoot>
    </table>
</template>
<template name="confirmationBox">
  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="trash icon"></i>
      Delete Service
    </div>
    <div class="content">
      <p>You are about to delete <span class="todelete"></span>, are you sure you want to go ahead, this cannot be undone?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button cancelWidget">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button okWidget">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</template>
<template name="addServiceSidebar">
    <div class="ui sidebar wide addServiceSidebar menu">
        <form class="ui event form addServiceForm">

            <a id="root-picker-outlet" class="active title addServiceHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Service Details</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div  class="active content">
                <div class="ui form segment">
                    <div class="required field" style="position: relative">
                        <label for="name">name</label>
                        <div class="ui corner labeled left icon input">
                            <i class="hashtag icon"></i>
                            <input id="name" placeholder="name no spaces"  class="form-control" name="name" value="{{name}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="description">Description</label>
                        <div class="ui corner labeled left icon input">
                            <i class="info icon"></i>
                            <input id="description" placeholder="description"  class="form-control" name="description" value="{{description}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="durationInMinutes">Duration In Minutes</label>
                        <div class="ui corner labeled left icon input">
                            <i class="clock icon"></i>
                            <input id="durationInMinutes" placeholder="duration in Minutes"  class="form-control" name="durationInMinutes" value="{{durationInMinutes}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="priceFrom">Price From</label>
                        <div class="ui corner labeled left icon input">
                            <i class="pound sign icon"></i>
                            <input id="priceFrom" placeholder="price from"  class="form-control" name="priceFrom" value="{{priceFrom}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="_id" value="{{_id}}">
                    <div class="required field" style="position: relative">
                        <label for="groups">Group(s) for service</label>
                        <select class="ui fluid search dropdown" name="groups" multiple="">
                          {{#each serviceGroups}}
                            <option value="{{name}}">{{title}}</option>
                          {{/each}}
                        </select>
                    </div>
                    <div class="teal ui button submit">Save</div>
                    <div class="red ui button addServiceHandle">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</template>
<template name="addServiceGroupSidebar">
    <div class="ui sidebar wide addServiceGroupSidebar menu">
        <form class="ui event form addServiceGroupForm">

            <a id="root-picker-outlet" class="active title addServiceGroupHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Service Group Details</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div  class="active content">
                <div class="ui form segment">
                    <div class="required field" style="position: relative">
                        <label for="name">name</label>
                        <div class="ui corner labeled left icon input">
                            <i class="hashtag icon"></i>
                            <input id="name" placeholder="name no spaces"  class="form-control" name="name" value="{{name}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="title">Title</label>
                        <div class="ui corner labeled left icon input">
                            <i class="clock icon"></i>
                            <input id="title" placeholder="duration in Minutes"  class="form-control" name="title" value="{{title}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="description">Description</label>
                        <div class="ui corner labeled left icon input">
                            <i class="info icon"></i>
                            <input id="description" placeholder="description"  class="form-control" name="description" value="{{description}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="allowMultiple">
                          <label>Allow Muti Select of Services</label>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="_id" value="{{_id}}">
                    <div class="teal ui button submit">Save</div>
                    <div class="red ui button addServiceGroupHandle">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</template>
<template name="addServiceConfigSidebar">
    <div class="ui sidebar wide addServiceConfigSidebar menu">
        <form class="ui event form addServiceConfigForm">

            <a id="root-picker-outlet" class="active title addServiceConfigHandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left"></i>
                    Service Config Details</h2>
            </a>
            <div class="ui error message">Fix the errors:</div>
            <div  class="active content">
                <div class="ui form segment">
                    <div class="required field" style="position: relative">
                        <label for="name">Day</label>
                        <div class="ui corner labeled left icon input">
                            <i class="hashtag icon"></i>
                            <input id="dayText" readonly class="form-control" name="dayText" value="{{dayText}}">
                            <input id="day" type="hidden"  name="day" value="{{day}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="from">from</label>
                        <div class="ui corner labeled left icon input">
                            <i class="clock icon"></i>
                            <select class="ui fluid search dropdown" name="fromhour">
                              {{#each hours}}
                                <option value="{{.}}">{{opad .}}</option>
                              {{/each}}
                            </select>
                            <select class="ui fluid search dropdown" name="fromminute">
                              {{#each minutes}}
                                <option value="{{.}}">{{opad .}}</option>
                              {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <label for="to">To</label>
                        <div class="ui corner labeled left icon input">
                            <i class="clock icon"></i>
                            <select class="ui fluid search dropdown" name="tohour">
                              {{#each hours}}
                                <option value="{{.}}">{{opad .}}</option>
                              {{/each}}
                            </select>
                            <select class="ui fluid search dropdown" name="tominute">
                              {{#each minutes}}
                                <option value="{{.}}">{{opad .}}</option>
                              {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="required field" style="position: relative">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="open">
                          <label>Open?</label>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="_id" value="{{_id}}">
                    <div class="teal ui button submit">Save</div>
                    <div class="red ui button addServiceConfigHandle">Cancel</div>
                </div>
            </div>
        </form>
    </div>
</template>
