<template name="contact">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title "><span class="glyphicon glyphicon-ok">&nbsp;</span>Welcome back, {{model.contactName}}.</h2>
        </div>
        <div class="panel-body">
            <h3>Your last appointment booking</h3>
            <h4>Your appointment: {{model.serviceType.description}}-{{model.serviceDetail.description}}</h4>
            <h4>When: {{model.slotDate}} at {{model.slotStart}}</h4>
            <h4>Price is from: £{{model.serviceDetail.priceFrom}}</h4>
            <hr/>
            {{#if model.previous}}
                <br/>
                <h3>Other Previous appointments</h3>
                {{#each model.previous}}
                    <h4>Your appointment: {{serviceType.description}}-{{serviceDetail.description}}</h4>
                    <h4>When: {{slotDate}} at {{slotStart}}</h4>
                    <h4>Price is from: £{{serviceDetail.priceFrom}}</h4>
                    <hr/>
                {{/each}}
            {{/if}}
            <!--p>If you need to change or cancel your appointment online, follow the link in your email to change or cancel the appointment</p-->
        </div>
    </div>
</template>

<template name="contactDetailsSidebar">
    <div class="ui sidebar wide contactDetailsSidebar menu">
        <form class="ui event form contactDetailsForm">

            <a class="active title contactDetailshandle">
                <h2 class="ui dividing header">
                    <i class="icon circle arrow left icon"></i>
                    Contact Information
                </h2>
            </a>

            <div class="ui error message">Fix the errors:</div>
            <div class="active content">
                <div class="ui form segment">
                    <div class="sub header">Enter at least a contact number and name. Click close when you are done.</div>

                    <div class="required field">
                        <label for="contactNumber">A tel or mobile number to contact you on</label>
                        <div class="ui corner labeled left icon input">
                            <i class="call icon"></i>
                            <input placeholder="contact number" type="tel" class="contactNumber" name="contactNumber" value="{{model.contactNumber}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label for="firstName">Who should we ask for, should we need to call?</label>
                        <div class="ui labeled left icon input">
                            <i class="user icon"></i>
                            <input placeholder="contact name" type="text" class="contactName" name="contactName" value="{{model.contactName}}">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label  for="firstName">We will confirm the booking if you provide an email address</label>
                        <div class="ui labeled left icon input">
                            <i class="mail icon"></i>
                            <input placeholder="email address" type="email" class="emailAddress" name="emailAddress" value="{{model.emailAddress}}">
                        </div>
                    </div>
                    <div class="teal ui button submit">Close</div>
                </div>
            </div>
        </form>
    </div>
</template>
