<template name="datePicker">
    <div class="ui {{size}} borderless fluid three item pagination menu datePicker">
        <a class="item">
          {{#if showPreviousWidget}}
            <i class="left arrow icon previousWidget"></i>
          {{/if}}
        </a>
        <a class="item">{{dateString}}</a>
        <a class="item">
            <i class="icon right arrow nextWidget"></i>
        </a>
    </div>
    <div class="ui {{size}} borderless pagination menu grid">
        {{#each getDays}}
            <a class="item seven wide dayWidget {{activeClass}}">{{{text}}}</a>
        {{/each}}
    </div>
</template>
<template name="timePicker">
    <div  class="timePanel panel panel-default" >
        <div class="panel-heading">
            <ul class="pager">
                <li class="previous eventWidget previousWidget"><span class="glyphicon glyphicon-chevron-left"></span></li>
                <li class="timeWiget">{{hour}}</li>
                <li class="timeWiget">:</li>
                <li class="timeWiget">{{min}}</li>
                <li class="next eventWidget nextWidget"><span class="glyphicon glyphicon-chevron-right"></span></li>
            </ul>
        </div>
        <div class="panel-body">
            <center><h2>{{amOrPm}}</h2></center>
        </div>
    </div>
</template>
