.dateselector{
    background-color: #F0F0F0;
    text-align:center;
}
.timeslot{
    background-color: #FFFFFF;
    padding: 5px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    text-align:center;
}
.timeslot:hover {
    text-decoration: underline;
    background-color: #8C0000;
    color: #ffffff;
    cursor: pointer;
}
.selected-timeslot{
    background-color: #8C0000;
    color: #ffffff;
}
.selected-timeslot:hover {
    background-color: #6A0000;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.dayWidget.active{
    background-color: #8C0000 !important;
    color: #ffffff !important;
}
.slot-prev, .slot-next {
    width: 49%;
    height: 50px;
    cursor: pointer;
    margin-top: 25%;
    /* Trick IE into showing hover */
    display: block;
}
.nav > li > a {
    padding: 3px 6px;
}
.eventWidget:hover {
    cursor: pointer;
}

.timePanel {
    width: 250px;
}
.timeWiget{
    margin: 0 0 40px;
    color: #0059b2;
    font-weight: normal;
    font-size: 34px;
    font-family: "Open Sans", sans-serif;
}